#connexion-div {
  padding: 1rem;
  
}

#connexion-div h1 {
  margin: 1rem auto;
  text-align: center;
}

#connexion-form {
  color: white;
  margin: 1rem auto;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  min-height: 50vh;
  background-color: var(--main-color-dark);
  border: 2px solid var(--main-color-red);
  
  
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#form-connexion > div {
  
}

#form-connexion > div > input[email],
#form-connexion > div > input[password] {
  background-color: white!important;
  border: 5px solid blue;
}

#connexion-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}











