#nos-evenements-div {
  margin: 1rem auto;
  text-align: center;
}


#nos-evenements-div h1,
#nos-evenements-div h2 
{
  margin: 1rem auto;
  text-align: center;
}

.video-card {
  font-size: 1.2rem;
  background-color: var(--main-color-light);
  padding: 1rem;
}

.video-hat {
}

#video-evenement-01 {
  margin: 2rem auto;
  width: 60%;
  max-width: 96%;
  background: linear-gradient(135deg    , var(--main-color-dark), var(--main-color-dark) 10%, var(--main-color-red) 90%, var(--main-color-red));
  padding: 6px;
  border-radius: 5px;
  
}

@media screen and (max-width: 991px) {
  #video-evenement-01 {
    width: 80%;
  } 
}

@media screen and (max-width: 560px) {
  #video-evenement-01 {
    width: 96%;
  } 
}

