#password-modify-div {
  padding: 1rem;
  
}

#password-modify-div h1 {
  margin: 1rem auto;
  text-align: center;
}

#password-form {
  color: white;
  margin: 1rem auto;
  width: 80%;
  max-width: 1200px;
  text-align: center;
  min-height: 50vh;
  background-color: var(--main-color-dark);
  border: 2px solid var(--main-color-red);
  
  
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

#form-password > div > input[text] {
  background-color: white!important;
  border: 5px solid blue;
}

#password-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.password-form-error {
  color: red;
  
}